// Specific CSS for your home-page
.banner {
  background-size: cover;
  background-position: center;
  padding: 150px 0;
}

.banner h1 {
  margin: 0;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 32px;
  font-weight: bold;
}

.banner p {
  font-size: 20px;
  color: white;
  opacity: .85;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}

.offre {
  text-decoration: none;

  &:hover {
    opacity: 0.7;
    transition: ease-in 0.25s;
  }
}

.client-logo img {
  width: 80px;
  height: auto;
}

@media only screen and (max-width: 992px) {
  .client-logo {
    margin-bottom: 24px;
  }
}

@media only screen and (min-width: 992px) {
  .client-logo {
    margin-left: 20px;
    margin-right: 20px;
  }
}

.a-propos img {
  padding-right: 20px;
}

.a-propos-contact {
  color: grey;
  font-size: 14px;
}

/* Small devices (phones, 1000px and down) */
@media only screen and (max-width: 1000px) {
  .a-propos img {
    width: 90%;
  }
  .a-propos-content {
    width: 90%;
  }
}

/* Large devices (laptops/desktops, 1001px and up) */
@media only screen and (min-width: 1001px) {
  .a-propos img {
    width: 40%;
  }
  .a-propos-content {
    width: 50%;
  }
}
