<div class="footer">
  <div class="container">
    <div class="footer-links my-3 row">
      <a class="col-sm-12 col-md-6 col-lg-2 text-center" href="<%= root_path %>">Accueil</a>
      <a class="col-sm-12 col-md-6 col-lg-2 text-center" href="<%= offres_path %>"> Nos offres </a>
      <%# <a class="col-sm-12 col-md-6 col-lg-2 text-center" href="<%= clients_path %>"> %><%# Nos clients</a> %>
      <a class="col-sm-12 col-md-6 col-lg-2 text-center" href="<%= contact_path %>">Contactez-nous</a>
    </div>
    <div class="footer-contact-info my-2">
      Siège social : Boulevard Général De Gaulle | BP : 16 585 Dakar FANN <br>
      Tél: (221) 33 823 65 57 | E-mail: contact@adconseils.org<br>
    </div>
    <div class="footer-copyright mb-2">
      © 2022 AD Conseil All Rights Reserved
    </div>
  </div>
</div>
