<div class="container">
  <h1>Contact</h1>

  <p>
  Siège social : Boulevard Général De Gaulle <br>
  BP : 16 585; Dakar FANN <br>
  Tél: (221) 33 823 65 57 <br>
  E-mail: contact@adconseils.org <br>
  </p>

  <h2>Envoyez-nous un message</h2>

  <form class="mb-5">
    <div class="form-group">
      <label for="exampleFormControlInput1">Votre nom</label>
      <input type="text" class="form-control mb-3" id="exampleFormControlInput1" required>
    </div>
    <div class="form-group">
      <label for="exampleFormControlInput1">Votre adresse mail</label>
      <input type="email" class="form-control mb-3" id="exampleFormControlInput2" placeholder="exemple: name@example.com" required>
    </div>
    <div class="form-group">
      <label for="exampleFormControlInput1">Sujet</label>
      <input type="text" class="form-control mb-3" id="exampleFormControlInput3" placeholder="exemple: Organisation de formation" required>
    </div>
    <div class="form-group">
      <label for="exampleFormControlTextarea1">Votre message</label>
      <textarea class="form-control mb-3" id="exampleFormControlTextarea1" rows="3" required></textarea>
    </div>
    <button type="submit" class="btn btn-adconseil">Envoyer</button>
  </form>
</div>
