<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1509099955921-f0b4ed0c175c?crop=entropy&cs=tinysrgb&fm=jpg&ixlib=rb-1.2.1&q=80&raw_url=true&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=872);">
  <div class="container">
    <h1>Nous sommes une organisation à but non-lucratif <br>
    qui finance des <strong>projets</strong> à destination
    <br>des <strong>femmes</strong> et des <strong>jeunes</strong></h1>
    <a href="projets" class="my-3 btn btn-sococim">Découvrir nos projets</a>
  </div>
</div>

  <div class="container my-5">
    <h2>Nos derniers projets en date</h2>
    <div class="d-flex justify-content-between">
      <div class="card-product my-2">
        <img src="https://picsum.photos/id/76/275/300" />
        <div class="card-product-infos">
          <h2>Nom du Projet 1</h2>
          <h3>Emplois et création de richesses</h3>
          <p>Description du projet qui explique le contexte et le rôle de la fondation.
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut ac purus tempus dolor feugiat tempor. Donec auctor ante sed orci porttitor gravida.
          </p>
          <a href="#">En savoir plus</a>
        </div>
      </div>

      <div class="card-product my-2">
        <img src="https://picsum.photos/id/24/275/300" />
        <div class="card-product-infos">
          <h2>Nom du Projet 2</h2>
          <h3>Education, enfance et jeunesse</h3>
          <p>Description du projet qui explique le contexte et le rôle de la fondation.
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut ac purus tempus dolor feugiat tempor. Donec auctor ante sed orci porttitor gravida.
          </p>
          <a href="#">En savoir plus</a>
        </div>
      </div>
    </div>

    <div class="d-flex justify-content-between">
      <div class="card-product my-2">
        <img src="https://picsum.photos/id/106/275/300" />
        <div class="card-product-infos">
          <h2>Nom du Projet 3</h2>
          <h3>Arts et culture</h3>
          <p>Description du projet qui explique le contexte et le rôle de la fondation.
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut ac purus tempus dolor feugiat tempor. Donec auctor ante sed orci porttitor gravida.
          </p>
          <a href="#">En savoir plus</a>
        </div>
      </div>

      <div class="card-product my-2">
        <img src="https://picsum.photos/id/398/275/300" />
        <div class="card-product-infos">
          <h2>Nom du Projet 4</h2>
          <h3>Solidarité</h3>
          <p>Description du projet qui explique le contexte et le rôle de la fondation.
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut ac purus tempus dolor feugiat tempor. Donec auctor ante sed orci porttitor gravida.
          </p>
          <a href="#">En savoir plus</a>
        </div>
      </div>
    </div>
    <a href="projets" class="my-3 btn btn-sococim">Découvrir nos projets</a>
    <a href="proposer-un-projet" class="my-3 btn btn-sococim-two">Proposer un projet</a>
  </div>

 <div class="bg-white">
  <div class="container text-center my-3 py-5">
    <h2 class="mb-3">La Fondation en chiffres</h2>

    <div class="d-flex justify-content-center KPIs">
      <div class="card-KPI mr-3">
        <h3>176</h3>
        <p>Projets<br>financés</p>
      </div>

      <div class="card-KPI mr-3">
        <h3>143</h3>
        <p>millions fcfa<br>investis</p>
      </div>

      <div class="card-KPI mr-3">
        <h3>203</h3>
        <p>Evénements<br>sponsorisés</p>
      </div>

      <div class="card-KPI mr-3">
        <h3>31</h3>
        <p>Partenariats<br>créés</p>
      </div>
    </div>
  </div>

 </div>


  <div class="container domaines-intervention my-5">
    <h2 class="mb-3">Nos domaines d'intervention</h2>
    <div class="d-flex justify-content-between">
      <a href="emplois-et-creation-de-richesses">
        <div class="card-category px-3" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://picsum.photos/id/304/250/300);">
          Emplois et création de richesses
        </div>
      </a>

      <a href="education-enfance-et-jeunesse">
        <div class="card-category px-3" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://picsum.photos/id/173/250/300);">
          Education, enfance et jeunesse
        </div>
      </a>

      <a href="arts-et-culture">
        <div class="card-category px-3" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://picsum.photos/id/20/250/300);">
          Arts et Culture
        </div>
      </a>

      <a href="solidarite">
        <div class="card-category px-3" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://picsum.photos/id/395/250/300);">
          Solidarité
        </div>
      </a>
    </div>
    <a href="projets" class="my-3 btn btn-sococim">Découvrir nos projets</a>
    <a href="proposer-un-projet" class="my-3 btn btn-sococim-two">Proposer un projet</a>
  </div>

  <div class="container my-5">
    <h2>Notre histoire</h2>
    <div class="histoire d-flex ">
      <img src="https://picsum.photos/id/222/500/300"/>
      <p class="mx-3">Créée en 2010 et reconnue d'utilité publique, la Fondation Sococim intervient en parallèle des activités de Sococim Industries.
      <br>Assuré par Sococim Industries, notre budget nous permet de financer des projets à destination des femmes et des jeunes. Nous œuvrons pour aider les populations à sortir de la pauvreté.
      <br>Depuis sa création notre Fondation a permis la création de 175 emplois. Nous nous impliquons également auprès d’associations sénégalaises sur des projets éducatifs, environnementaux et socio-culturels.
      <br><a href="la-fondation">En savoir plus</a>
      </p>
    </div>
  </div>
