<div class="banner mb-5" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1462556791646-c201b8241a94?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=865&q=80);">
  <div class="container">
    <h1>Nos offres et services</h1>
  </div>
</div>

<div class="container offres">

    <h2 id="etudes">Études</h2>
    <div class="offer row pb-4">
      <img class="col-12 col-sm-6 col-lg-4 px-3" src="https://images.unsplash.com/photo-1529310399831-ed472b81d589?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=387&q=80"/>
      <div class="offer-content col-12 col-sm-6 col-lg-6 px-3 py-4">
        <p>
          Nous réalisons des études permettant d'avoir une vue d'ensemble sur un secteur donné:<br>
          <i class="fa-solid fa-chevron-right"></i> Des études de marchés (potentiel, lancement...),<br>
          <i class="fa-solid fa-chevron-right"></i> Des études clientèle (satisfaction, segmentation...),<br>
          <i class="fa-solid fa-chevron-right"></i> Des études d'image (pré-test, post-test...),<br>
          <i class="fa-solid fa-chevron-right"></i> Des études sociales (pauvreté, santé, éducation...).<br>
        </p>
        <a href="<%= contact_path %>" class="py-1 btn btn-adconseil-secondary">Contactez-nous</a>
      </div>
    </div>

    <h2 id="management">Management</h2>
    <div class="offer row pb-4">
      <img class="col-12 col-sm-6 col-lg-4 px-3" src="https://images.unsplash.com/photo-1642764984376-9b8adf8162b6?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=415&q=80"/>
      <div class="offer-content col-12 col-sm-6 col-lg-6 px-3 py-4">
        <p>
          Le management sert à diriger et booster l'entreprise, nous proposons un accompagnement sur les projets suivants:<br>
          <i class="fa-solid fa-chevron-right"></i> Les Bests Practices,<br>
          <i class="fa-solid fa-chevron-right"></i> La Gestion des Equipes,<br>
          <i class="fa-solid fa-chevron-right"></i> La Gestion du Temps,<br>
          <i class="fa-solid fa-chevron-right"></i> L'acceptation du changement.<br>
        </p>
        <a href="<%= contact_path %>" class="py-1 btn btn-adconseil-secondary">Contactez-nous</a>
      </div>
    </div>

    <h2 id="formations">Formations</h2>
    <div class="offer row pb-4">
      <img class="col-12 col-sm-6 col-lg-4 px-3" src="https://images.unsplash.com/photo-1581887300522-654ef6e6386d?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=387&q=80"/>
      <div class="offer-content col-12 col-sm-6 col-lg-6 px-3 py-4">
        <p>
          Grâce à nos consultants émérites et outils pédagogiques performants et adaptés, nous offrons aux entreprises une offre de formation professionnelle continue.<br>
          Nos principaux modules sont:<br>
          <i class="fa-solid fa-chevron-right"></i> Accueil, Orientation et Relation Client,<br>
          <i class="fa-solid fa-chevron-right"></i> Vente et ​Management,<br>
          <i class="fa-solid fa-chevron-right"></i> Informatique et Bureautique,<br>
          <i class="fa-solid fa-chevron-right"></i> Marketing et communication​,<br>
          <i class="fa-solid fa-chevron-right"></i> Formation aux métiers de centre d'appels.<br>
        </p>
        <a href="<%= contact_path %>" class="py-1 btn btn-adconseil-secondary">Contactez-nous</a>
      </div>
    </div>

    <h2 id="communication">Communication</h2>
    <div class="offer row pb-4">
      <img class="col-12 col-sm-6 col-lg-4 px-3" src="https://images.unsplash.com/photo-1525547719571-a2d4ac8945e2?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=464&q=80"/>
      <div class="offer-content col-12 col-sm-6 col-lg-6 px-3 py-4">
        <p>
          Nous agissons dans le domaine de la communication média et hors média:<br>
          <i class="fa-solid fa-chevron-right"></i> Image de Marque (organisation, entreprises, produits...)<br>
          <i class="fa-solid fa-chevron-right"></i> Institutionnelle et politique<br>
          <i class="fa-solid fa-chevron-right"></i> Sociale (santé, éducation...)<br>
          <i class="fa-solid fa-chevron-right"></i> Création Graphique (2D, 3D et Animation), le Web Design, le Design d'Objet et d'Espace, la Décoration<br>
          <i class="fa-solid fa-chevron-right"></i> Pré-Presse, Edition et Impressions<br>
        </p>
        <a href="<%= contact_path %>" class="py-1 btn btn-adconseil-secondary">Contactez-nous</a>
      </div>
    </div>

  </div>
